{% extends "base_login.html" %}
{% load static %}
{% load i18n %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="bg-neutral-900 py-8 px-4 shadow-lg sm:rounded-lg sm:px-10">
            <!-- Sección del Logo y Título -->
            <div class="mb-8">
                <svg class="mx-auto h-24 w-auto text-primary-600" aria-hidden="true">
                    <use xlink:href="#logo-albarregas"></use>
                </svg>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-100">Restablecer Contraseña</h2>
            </div>
            <hr class="border-neutral-600">

            <p class="text-center text-sm text-neutral-200 mb-6 p-4">Introduce tu correo electrónico y te enviaremos
                instrucciones para restablecer tu contraseña.</p>

            <form class="space-y-4" method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}

                <div>
                    <label for="id_email" class="block text-sm font-medium text-neutral-300">Correo Electrónico</label>
                    <div class="relative mt-1">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 text-neutral-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                            </svg>
                        </div>
                        <input id="id_email" name="email" type="email" required
                            class="block w-full rounded-md border-0 py-1.5 pl-10 text-white bg-neutral-700/50 shadow-sm ring-1 ring-inset ring-neutral-500 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">Enviar
                        enlace</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}