{% extends "base_login.html" %}
{% load static %}
{% load i18n %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="bg-neutral-900 py-8 px-4 shadow-lg sm:rounded-lg sm:px-10">
            <!-- Sección del Logo y Título -->
            <div class="mb-8">
                <svg class="mx-auto h-24 w-auto text-primary-600" aria-hidden="true">
                    <use xlink:href="#logo-albarregas"></use>
                </svg>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-100">Restablecer Contraseña</h2>
            </div>
            <hr class="border-neutral-600">

            <p class="text-center text-sm text-neutral-200 mb-6 p-4">
                Para restablecer tu contraseña, por favor, envía un correo al equipo directivo a través del sistema de mensajería de
            Rayuela.
            </p>

            <div class="mt-6 flex justify-center">
                <a href="{% url 'login' %}"
                    class="py-2 px-6 bg-primary-600 hover:bg-primary-700 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75">
                    Volver
                </a>
            </div>
            

            
        </div>

        
    </div>
</div>
{% endblock %}