<!DOCTYPE html>
{% load static tailwind_tags %}
{% include "svg/icons.svg" %}
<html lang="es" class="h-full bg-neutral-800">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduPanel{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">

    {% tailwind_css %}
    <!-- Alpine.js para la interactividad -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="h-full">
    <div x-data="{ sidebarOpen: false }">
        <!-- Menú horizontal (barra superior fija) -->
        {% include 'includes/horizontal_nav.html' %}

        <!-- Menú vertical (barra lateral fija) -->
        {% include 'includes/vertical_nav.html' %}

        <!-- Contenido principal -->
        <div class="p-4 lg:ml-64">
            <div class="p-4 border-2 border-neutral-700 border-dashed rounded-lg mt-14">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>