{% extends "base.html" %}

{% block title %}Panel Principal{% endblock %}

{% block content %}
<!-- Cabecera de la página -->
<div class="px-4 py-6 sm:px-0">
    <h1 class="text-3xl font-bold text-neutral-100">¡Bienvenido de nuevo, {{ user.first_name | default:user.username }}!
    </h1>
    <p class="mt-2 text-lg text-neutral-400">Este es tu panel principal. Desde aquí podrás realizar diversas acciones relacionadas con el I.E.S Albarregas.</p>
</div>
<!-- Fin de la cabecera -->

<!-- Contenido principal -->
<div class="mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Tarjeta de Horario -->
        <div class="bg-neutral-900 overflow-hidden shadow-lg rounded-lg">
            <div class="p-5">
                <div class="flex items-center">
                    <div class="flex-shrink-0 bg-primary-500 p-3 rounded-md">
                        <!-- Icono de Calendario -->

                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" >
                            <path d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zM5.25 6A1.5 1.5 0 003.75 7.5v11.25c0 .83.67 1.5 1.5 1.5h13.5a1.5 1.5 0 001.5-1.5V7.5A1.5 1.5 0 0018.75 6H5.25z"
                                clip-rule="evenodd" />
                            <path
                                d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM15.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM15.75 15.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM8.25 15.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM8.25 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />                    
                        </svg>
                    </div>
                    <div class="ml-5 w-0 flex-1">
                        <dl>
                            <dt class="text-sm font-medium text-neutral-400 truncate">Asuntos Particulares</dt>
                            <dd class="text-lg font-medium text-neutral-100">Ver solicitudes realizadas</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="bg-neutral-800 px-5 py-3">
                <div class="text-sm">
                    <a href="{% url 'asuntosParticulares:mis_solicitudes' %}" 
                    class="font-medium text-accent-400 hover:text-accent-300">Ver detalles &rarr;</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta de Plantillas -->
        <div class="bg-neutral-900 overflow-hidden shadow-lg rounded-lg">
            <div class="p-5">
                <div class="flex items-center">
                    <div class="flex-shrink-0 bg-primary-500 p-3 rounded-md">
                        <!-- Icono de Plantilla -->
                        
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                        </svg>
                    </div>
                    <div class="ml-5 w-0 flex-1">
                        <dl>
                            <dt class="text-sm font-medium text-neutral-400 truncate">Documentos</dt>
                            <dd class="text-lg font-medium text-neutral-100">Ver documentos disponibles</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="bg-neutral-800 px-5 py-3">
                <div class="text-sm">
                    <a href="{% url 'documento:documento_list' %}" 
                    class="font-medium text-accent-400 hover:text-accent-300">Explorar &rarr;</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}